* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "calibri", "sans-serif";
  height: 100%;
  width: 100%;
}

.Wrapper {
  display: flex;
  background-image: linear-gradient(#304352, #d7d2cc);
  height: auto;
  height: 100%;
  width: 100%;
}
/*Main Container contains small containers and text of the screen*/
.Wrapper .mainContainer {
  width: 85%;
  margin: 40px auto;
  border-bottom: solid #d1ccc7 20px;
  display: grid;
  grid-template-rows: 70px 260px 260px;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 25rem));
  grid-gap: 50px;
  justify-content: center;
  overflow: scroll;
}

.Wrapper .mainContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/*The Heading full-container*/
.mainContainer h3 {
  font-family: "calibri";
  font-size: 45px;
  font-style: italic;
  text-align: center;
  color: #d7d2cc;
  grid-column: 1/-1;
  background-color: #152738;
}
@media screen and (max-width: 788px) {
  .mainContainer h3 {
    font-size: 30px;
  }
}

/*The image containers*/
.container {
  background-color: #d7d2cc00;
  height: 260px;
}
@media screen and (min-width: 1612px) {
  .container {
    width: 400px;
    height: 200px;
  }
}

.cam-box.one img {
  width: 400px;
  height: 200px;
}
.cam-box.two img {
  width: 100%;
  height: 100%;
}
.cam-box.three img {
  max-width: 100%;
  height: auto;
}
.cam-box.four img {
  max-width: 100%;
  height: auto;
}
.cam-box.five img {
  max-width: 100%;
  height: auto;
}
.cam-box.six img {
  max-width: 100%;
  height: auto;
}

.container h3 {
  background-color: rgba(255, 255, 255, 0);
  border: solid #d1ccc7;
  border-bottom: 0%;
  font-family: "calibri";
  font-size: 20px;
  font-style: bold;
  color: black;
  text-align: center;
}
